<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
<!-- header start -->

 {{>navbar}}
<!-- hero start-->

<section class="hero ">
<div class="container">
  <div class="row d-flex  justify-content-between align-items-center">
    <div class="col-md-6 order-md-1 order-2">
      <div class="hero_content">
        <h2>We design digital products that help grow businesses</h2>
        <p>We are team of talanted designers making websites with Bootstrap</p>
        <a href="#" class="hero_btn btn btn-primary mt-3">Get Start</a>
      </div>
    </div>
    <div class="col-md-6 order-md-2 order-1 mb-md-0 mb-5">
      <div class="hero_img d-flex justify-content-center align-content-center">
        <img src="img/hero-img.png" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
</section>
<!-- hero end -->
<!-- contact start -->
{{>register}}
<!-- contact end -->
<!-- login start -->
{{>login}}
<!-- login end-->
<!-- footer start -->
{{>footer}}
    <!-- <script src="vonder/typed/typed.js"></script> -->
    



</body>
</html>