<footer id="footer" class="bg-dark">
<div class="container">
  <div class="footer_content  py-3 text-white d-flex justify-content-md-between align-items-center">
    <p>Jasim@gmail.com</p>
<p >
  <script>
    const year = new Date().getFullYear();
    document.write(year);
  </script>
</p>
  </div>
</div>
</footer>
<!-- footer end -->
<!-- links -->
<script src="js/jquery-3.5.1.js"></script>
<!-- <script src="js/jquery.min.js"></script> -->
<script src="js/bootstrap.bundle.js"></script>
<script src="js/popper.js"></script>
<script src="js/isotope.js"></script>
<script src="js/main.js"></script>

<script src="vonder/owl.carousel/owl.carousel.min.js"></script>